<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="min3d.sampleProject1"
      android:versionCode="4"
      android:versionName="May_16_2010">
    
    <uses-sdk android:minSdkVersion="3" />

    <application android:debuggable="true" android:icon="@drawable/icon" android:label="@string/app_name">
        
        <activity android:name=".SplashActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ExampleRotatingPlanets" android:label="@string/app_name">
        </activity>

        <activity android:name=".ExampleMostMinimal" android:label="@string/app_name">
        </activity>

        <activity android:name=".ExampleVertexColors" android:label="@string/app_name">
        </activity>

        <activity android:name=".ExampleTextures" android:label="@string/app_name">
        </activity>

        <activity android:name=".ExampleRenderType" android:label="@string/app_name">
        </activity>

        <activity android:name=".ExampleCamera" android:label="@string/app_name">
        </activity>

        <activity android:name=".ExampleAnimatingVertices" android:label="@string/app_name">
        </activity>

        <activity android:name=".ExampleSubsetOfFaces" android:label="@string/app_name">
        </activity>

        <activity android:name=".ExampleAssigningTexturesDynamically" android:label="@string/app_name">
        </activity>
        
        <activity android:name=".ExampleTextureWrap" android:label="@string/app_name">
        </activity>

        <activity android:name=".ExampleMultiTexture" android:label="@string/app_name">
        </activity>

        <activity android:name=".ExampleTextureOffset" android:label="@string/app_name">
        </activity>

    	<activity android:name="ExampleLoadObjFile" android:label="@string/app_name">
    	</activity>
    	
<activity android:name="ExampleLoadObjFileMultiple"></activity>
</application>
    
</manifest> 